*{
    padding: 0;
    margin: 0;
}
.ya-container{
    width: 99.5%;
    margin: 15px auto 100px auto;
}
/* 添加动画 */
.card-hover{
    transition: all 0.2s ease;
    cursor: pointer;
}
.card-hover:hover {
    transform: translateY(-2px);
}