<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <title>邮件列表</title>
    <link href="../layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>

    <div class="layui-fluid">
        <div class="ya-container">
            <div class="layui-row" style="background-color: #fff;border-radius: 5px;height: 100vh;">
                <h1>邮件列表</h1>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
</body>
</html>